body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
}

canvas {
    position: absolute;
    inset: 0;
}
/* path {
    stroke: black;
    fill: none;
} */

.graphs {
    display: flex;
    gap: 10px;
}
.signal__graph {
    border: 2px solid black;
    display: block;
    width: 400px;
    height: 400px;
    background-color: rgb(243, 243, 247);
}

.signal__line {
    stroke: rgb(255, 0, 0);
    fill: none;
}

.fft__signal__line {
    stroke: rgb(0, 255, 13);
    fill: none;
}